<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394550367040-g47g2uf196tnvrsfv9fmgmp23q94a54n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394550367040-g47g2uf196tnvrsfv9fmgmp23q94a54n</string>
	<key>API_KEY</key>
	<string>AIzaSyDd6f84G-cioBXcbF54e57oRwjMb17014Q</string>
	<key>GCM_SENDER_ID</key>
	<string>394550367040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testing.452353543</string>
	<key>PROJECT_ID</key>
	<string>gamelist-28f50</string>
	<key>STORAGE_BUCKET</key>
	<string>gamelist-28f50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394550367040:ios:4621a1a451c44d966060a5</string>
</dict>
</plist>